@import '../../stylesheet/vars.css';

@media screen and (max-width: 320px) {
  .container {
    width: 280px;
    margin: 0;
    padding: 0;
  }

  .mobileTab {
    width: 280px;
  }
}

.container {
  margin: 0;
  padding: 0;
}

.wrapperTabIncomes {
  border-left: solid 5px var(--amount-incomes-text-color);
}

.wrapperTabExpenses {
  border-left: solid 5px var(--amount-expenses-text-color);
}

.wrapperTabIncomes,
.wrapperTabExpenses {
  border-radius: 10px;
  margin: 0 0 10px;
}

.mobileTab {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.mobileTab {
  width: 100%;
  table-layout: fixed;
  font-family: var(--main__font-family);
  font-weight: 400;
  font-size: var(--font-size__main);
  line-height: 1.5;
  background-color: var(--light-bcg-color);
  border-collapse: collapse;
}

.wrapperTabIncomes th,
.wrapperTabExpenses th {
  width: 40%;
  padding: 10px 10px 10px 20px;
  text-align: left;
  font-weight: 700;
  font-size: var(--font-size__accent);
}

.wrapperTabIncomes tr:not(:last-child),
.wrapperTabExpenses tr:not(:last-child) {
  border-bottom: 1px solid var(--line-home-table-color);
}

.wrapperTabIncomes td,
.wrapperTabExpenses td {
  width: 60%;
  padding: 5px 20px 5px 10px;
  text-align: right;
}

.wrapperTabExpenses .tdAmountExpenses {
  color: var(--amount-expenses-text-color);
  font-weight: 700;
}

.wrapperTabIncomes .tdAmountIncomes {
  color: var(--amount-incomes-text-color);
  font-weight: 700;
}
