@import '../../stylesheet/vars.css';

.input {
  display: block;
  width: 100%;
  margin-bottom: 40px;
}
.unionRadio {
  margin-bottom: 40px;
  text-align: center;
}
.unionInput {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.button {
  display: block;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10.5px;
  padding-bottom: 10.5px;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--main__font-family);
  font-size: var(--font-size__btn);
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.1em;
  color: #ffffff;
  border-radius: 20px;
  cursor: pointer;
}
.add {
  composes: button;
  margin-bottom: 20px;
  background-color: var(--accent-btn-color);
  border: 1px solid var(--accent-btn-color);
}
.cancel {
  composes: button;
  color: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
}
.img {
  height: 18px;
  width: 18px;
  margin-right: 23px;
  fill: #6e78e8;
}
.date {
  display: flex;
}
.inputDate {
  font-family: var(--main__font-family);
  font-size: var(--font-size__btn);
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}
