@import '../../stylesheet/vars.css';

.input {
  display: block;
  width: 100%;
  height: 34px;
  max-width: 300px;
  margin-bottom: 40px;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--secondary-text-color);
  background-color: var(--light-bcg-color);
}
.input::placeholder {
  color: var(--exit-svg-color);
  font-family: var(--main__font-family);
  font-size: var(--font-size__btn);
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}
.datetime {
  display: block;
  width: 100%;
  height: 34px;
  max-width: 300px;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--secondary-text-color);
  background-color: var(--light-bcg-color);
}
.category {
  composes: input;
  cursor: pointer;
}
.category::first-letter {
  color: var(--secondary-text-color);
}
.inputs {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.validation {
  color: red;
  position: absolute;
}
.validationAmount {
  composes: validation;
  top: -20px;
  left: 0;
}
.validationComment {
  composes: validation;
  top: -20px;
  left: 0;
}
.unionInput {
  position: relative;
  width: 100%;
  max-width: 300px;
}
.button {
  display: block;
  max-width: 300px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10.5px;
  padding-bottom: 10.5px;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--main__font-family);
  font-size: var(--font-size__btn);
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.1em;
  color: #ffffff;
  border-radius: 20px;
  cursor: pointer;
}
.add {
  composes: button;
  margin-bottom: 20px;
  background-color: var(--accent-btn-color);
  border: 1px solid var(--accent-btn-color);
}
.cancel {
  composes: button;
  color: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
}
.img {
  position: absolute;
  right: 0;
  top: 6px;
  height: 18px;
  width: 18px;
  margin-right: 20px;
  fill: #6e78e8;
}
.date {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}
.inputDate {
  width: 100%;
  font-family: var(--main__font-family);
  font-size: var(--font-size__btn);
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}
.unionRadio {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 40px;
  text-align: center;
}
.incomes {
  position: relative;
  margin-right: 120px;
  font-family: var(--main__font-family);
  font-size: var(--font-size__main);
  font-weight: 700;
  line-height: 1.5px;
  /* color: var(--accent-btn-color); */
  cursor: pointer;
}
.incomes::after {
  position: absolute;
  top: -15px;
  right: -62px;
  content: '';
  display: inline-block;
  width: 44px;
  height: 44px;
  border-style: none;
  border-radius: 50%;
}
.radio {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.radio:checked + .incomes::after {
  border-color: transparent;
  background-color: var(--amount-incomes-text-color);
  background-image: url(./incomes.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);
}
.expenses {
  position: relative;
  font-family: var(--main__font-family);
  font-size: var(--font-size__main);
  font-weight: 700;
  line-height: 1.5px;
  color: var(--amount-expenses-text-color);
  cursor: pointer;
}
.expenses::after {
  position: absolute;
  top: -15px;
  left: -62px;
  content: '';
  display: inline-block;
  width: 44px;
  height: 44px;
  border-style: none;
  border-radius: 50%;
}
.radio:checked + .expenses::after {
  border-color: transparent;
  background-color: var(--amount-expenses-text-color);
  background-image: url(./expenses.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  box-shadow: 0px 6px 15px rgba(255, 101, 150, 0.5);
}
.rectangle {
  position: absolute;
  width: 80px;
  height: 40px;
  left: 95px;
  top: -12px;
  background: var(--light-bcg-color);
  border: 1px solid var(--main-svg-color);
  box-sizing: border-box;
  border-radius: 30px;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .input {
    max-width: 410px;
  }
  .unionInput {
    display: flex;
    justify-content: space-between;
    max-width: 410px;
  }
  .date {
    margin-left: 30px;
  }
}
