.bcg {
  background-image: url('../../images/Dashboard/Ellipse1.png'),
    url('../../images/Dashboard/Ellipse2.png');
  background-repeat: no-repeat;
  background-position: left bottom, right top;
  /* max-width: 1280px; */
}

.bcg_tablet {
  background-image: url('../../images/Dashboard/Ellipse1_tablet.png'),
    url('../../images/Dashboard/Ellipse2_tablet.png');
  background-repeat: no-repeat;
  background-position: left bottom, right top;
  /* max-width: 1280px; */
}

.blur {
  backdrop-filter: blur(50px);
}

.dashboard {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  min-height: calc(100vh - 104.5px);
}

.dashboard_tablet {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 40px 0;
}

.navigation {
  margin-bottom: 30px;
}

.balance {
  margin-bottom: 30px;
}

.navigation_mobile {
  margin: 13px 0 13px;
}

.balance_mobile {
  margin-bottom: 30px;
}

.currency_mobile {
  margin-top: 20px;
}
