@import '../../stylesheet/vars.css';

.formContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.titleWallet {
  font-family: 'Poppins', sans-serif;
    
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
}
.walletIcon {
  margin-right: 15.56px;
}
.title {
  font-weight: bold;
  font-size: 26px;
}

.inputBase {
  position: relative;
}

.input {
  width: 280px;
  height: 34px;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--exit-svg-color);
  font-size: var(--font-size__form);
  line-height: 1.5px;
  padding: 0px 5px 10px 54.5px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .input {
    width: 409.5px;
  }
}

.inputName {
  width: 280px;
  height: 34px;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--exit-svg-color);
  font-size: var(--font-size__form);
  line-height: 1.5px;
  padding: 0px 5px 10px 40px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .inputName {
    width: 409.5px;
    margin-bottom: 50px;
    padding-left: 54.5px;
  }
}
.input::placeholder {
  color: #bdbdbd;
  font-size: var(--font-size__form);
  font-family: var(--main__font-family);
  font-weight: 400;
  line-height: 1.5;
  margin-left: 54px;
}
.input:hover,
.input:focus {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.iconForm {
  content: '';
  fill: inherit;
  position: absolute;
  left: 12.3px;
  top: 3%;
  transform: translateY(-15%);
}
.blockCheck {
  position: absolute;
  transition: 1s;
  border: 4px solid #e5f1ef;
  bottom: 28px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .blockCheck {
    bottom: 25px;
  }
}
.inputError {
  width: 280px;
  height: 34px;
  border: none;
  outline: none;
  border-bottom: 2px solid #f80000;
  font-size: var(--font-size__form);
  line-height: 1.5px;
  padding: 0px 5px 0px 54.5px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .inputError {
    width: 409.5px;
  }
}
.inputErrorName {
  width: 280px;
  height: 34px;
  border: none;
  outline: none;
  border-bottom: 2px solid #f80000;
  font-size: var(--font-size__form);
  line-height: 1.5px;
  padding: 0px 5px 0px 54.5px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .inputErrorName {
    width: 409.5px;
    margin-bottom: 50px;
  }
}

.inputName::placeholder {
  color: var(--exit-svg-color);
  font-size: var(--font-size__form);
  font-family: 'Circe', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin-left: 54px;
}
.inputName:hover,
.inputName:focus {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 13px 103px;
  width: 280px;
  color: var(--accent-svg-color);
  font-weight: 400;
  font-size: var(--font-size__form);
  letter-spacing: 0.1em;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  border-radius: 20px;
  border: 1px solid var(--accent-svg-color);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.1), 1px 2px 3px rgba(0, 0, 0, 0.08),
    1px 4px 4px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .link {
    width: 300px;
    padding: 13px 65px;
  }
}
.button {
  margin-bottom: 20px;
}
.error {
  color: #ff6596;
  position: absolute;
  display: block;
  align-items: center;

  top: -30%;
  left: 30%;
  text-align: center;
}
