@import '../../stylesheet/vars.css';

@media screen and (min-width: 768px) {
  .tableShow {
    animation: table-show 0.5s forwards;
  }
}

@media screen and (min-width: 1280px) {
  .helpWrap{
    width: 700px;
    height: 60vh;
    /* position: relative; */
  }
  
  .wrapTable {
    width: 100%;
    height: 100%;
    /* margin: 0; */
  }

  .table {
    width: 100%;
  }



}

@media screen and (min-width: 768px) and (max-width: 1279px){
.helpWrap {
  width: 688px;
  height: 710px;
  /* position: relative; */
}

.wrapTable {
  width: 100%;
  height: 100%;
  /* margin: 0; */
 }
 .table {
  width: 100%; 
}

}


.table {
  /* table-layout: fixed; */
  
  font-family: var(--main__font-family);
  font-weight: 400;
  font-size: var(--font-size__main);
  line-height: 1.5;
  border-collapse: collapse;
  background-color: transparent;
  margin-bottom: 30px;
}

.table th {

  padding-top: 15px;
  padding-bottom: 16px;
  text-align: center;
  font-weight: 700;
  font-size: var(--font-size__accent);
  background-color: var(--light-bcg-color);
}

.table th:first-child {
  text-align: left;
  padding-left: 20px;
  padding-right: 10px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}

.table th:nth-child(2),
.table th:nth-child(5) {
  padding-left: 10px;
  padding-right: 10px;
}

.table th:nth-child(3),
.table th:nth-child(4) {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.table th:last-child {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  padding-left: 10px;
  padding-right: 20px;
  text-align: right;
}

.table .tr:not(:last-child) {
  border-bottom: 1px solid var(--line-home-table-color);
}

.tr td:first-child {
  padding: 15px 10px 15px 20px;
  text-align: left;
}

.tr td:nth-child(2),
.tr td:nth-child(5) {
  padding: 15px 10px 15px 10px;
  text-align: center;
}

.tr td:nth-child(3),
.tr td:nth-child(4) {
  padding: 0 10px 0 10px;
  text-align: left;
}

.tr td:nth-child(6) {
  padding: 15px 20px 15px 10px;
  text-align: right;
}

.tdIncomes {
  color:var(--amount-incomes-text-color) ;
  font-weight: 700;
}

.tdExpenses {
  color:var(--amount-expenses-text-color) ;
  font-weight: 700;
}

@media screen and (min-width: 1280px) {
  .paginationWrap{
    position: fixed;
    right: 30%;
    bottom: 40px;    
    
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .paginationWrap {
    position: fixed;
    right: 30%;
    bottom: 40px
    
  }
}

.paginationWrap {
  margin: 0 auto;
  text-align: center;
}

.paginationCurrentPage,
.paginationBtn{
  width: 40px;
  height: 40px;
  padding-top: 3px;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--main__font-family);
  font-size: 20px;
  font-weight: 500;
  color: var(--light-text-color);
  border-radius: 5px;
  border: solid 1px var(--accent-btn-color);
  background-color: var(--accent-btn-color);
  box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);

  opacity: 0.8;
  cursor: pointer;
}

.paginationCurrentPage:hover,
.paginationBtn:hover {
  opacity: 1;
  box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.75);
}

.paginationBtn:disabled {
  cursor: not-allowed;
  color: rgb(194, 187, 187);
  background-color: #24cca8ec;
  border: solid 1px #24cca8e5;
}

.paginationCurrentPage {
  font-family: var(--main__font-family);
  font-size: 18px;
  font-weight: 500;
  border: solid 1px var(--accent-btn-color);
  background-color: var(--accent-btn-color);
  box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);
}

@keyframes table-show {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateX(0);
  }
}
