@import '../../stylesheet/vars.css';

.form {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.titleArea {
  position: relative;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .titleArea {
    margin-top: 36px;
  }
}
.title {
  font-weight: bold;
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
   
}

@media screen and (min-width: 768px) {
  .title {
    font-style: normal;
    font-size: var(--font-size__logo);
    line-height: 45px;
  }
}

.walletIcon {
  content: '';
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .walletIcon {
    width: 40px;
    height: 40px;
    top: 50%;
    left: 170px;
    transform: translateY(-50%);
  }
}

.inputArea {
  position: relative;
}

.input {
  width: 280px;
  height: 50px;
  font-size: var(--font-size__btn);
  padding: 10px 20px 10px 60px;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--secondary-text-color);
  background-color: var(--light-bcg-color);

  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .input {
    width: 409.5px;
  }
}

.inputError {
  width: 280px;
  height: 32px;
  font-size: var(--font-size__btn);
  padding: 10px 20px 10px 60px;
  border: none;
  outline: none;
  border-bottom: 1px solid #f80000;
  margin-bottom: 40px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .inputError {
    width: 409.5px;
  }
}
.input::placeholder {
  color: #bdbdbd;
  font-size: var(--font-size__btn);
  font-family: 'Circe', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin-left: 60px;
}
.inputError::placeholder {
  color: var(--secondary-text-color);
  cursor: pointer;
}
.input:hover,
.input:focus {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.icon {
  content: '';
  position: absolute;
  top: 15%;
  left: 15px;
  transform: translateY(-15%);
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .icon {
    top: 15%;
    left: 80px;
    transform: translateY(-15%);
  }
}

.link {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 13px 58px;
  width: 280px;
  color: var(--accent-text-color);
  font-weight: 400;
  font-size: var(--font-size__form);
  letter-spacing: 0.1em;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  border-radius: 20px;
  border: 1px solid var(--accent-text-color);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.1), 1px 2px 3px rgba(0, 0, 0, 0.08),
    1px 4px 4px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .link {
    width: 300px;
    padding: 11px 68px;
  }
}
