.navigation {
  display: flex;
  flex-direction: column;
  max-width: 150px;
}

/* ===================
     Стили ссылок
=================== */

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 1.5em;
  color: #000000;
  
}

.link:hover {
  cursor: pointer;
  color: #4a56e2;
}

.activelink {
  color: #000000;
  font-weight: 700;
}

.img {
  height: 18px;
  width: 18px;
  margin-right: 23px;
  fill: #6e78e8;
}

.activelink .img {
  filter: drop-shadow(0px 3px 10px rgba(74, 86, 226, 0.5));
  fill: #4a56e2;
}
