@import '../../stylesheet/vars.css';

.title {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  font-family: var(--logo__font-family);
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  font-size: 30px;
}

@media screen and (min-width: 768px) {
  .header {
    display: none;
  }
}
