@import '../../stylesheet/vars.css';

.frameimg {
  display: none;
}

@media screen and (min-width: 768px) {
  .frameimg {
    display: inline-block;
    margin-right: 0;
    width: 274px;
    height: 250px;
    background-image: url('../../images/RegistrationPage/Frametabl.png');
    background-repeat: no-repeat;
    background-position: left top;
  }

  .registrationPageShow {
    animation: registrationPageForm-show 0.5s forwards;
  }

  .registrationPageImgShow {
    animation: registrationPageImg-show 0.5s forwards;
  }
}

@media screen and (min-width: 1280px) {
  .frameimg {
    background-image: url('../../images/RegistrationPage/frame.png');
    background-position: top center;
    width: 452.1px;
    height: 412.6px;
    margin-bottom: 31.9px;
  }
}

.title {
  display: none;
}

@media screen and (min-width: 767px) {
  .title {
    display: flex;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: var(--font-size__logo);
    line-height: 45px;
    margin-left: 40px;
    align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .title {
    text-align: center;
    margin-left: auto;
    width: 187px;
  }
}

@keyframes registrationPageForm-show {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes registrationPageImg-show {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateX(0);
  }
}
