.header {
  background: var(--light-bcg-color);
  z-index: 999;
}

.header__container {
  display: flex;
  margin: 0 auto;
  padding: 20px;

  width: 320px;

  justify-content: space-between;
  align-items: center;
}

@media (max-width: 480px) {
  .header__container {
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 768px) {
  .header__container {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: auto;
  }

  .headerShow {
    animation: header-show 0.5s forwards;
  }
}

@media (min-width: 1280px) {
  .header__container {
    width: 1288px;
    padding-left: 85px;
    padding-right: 85px;
    margin-right: auto;
  }
}

.headerExit {
  display: flex;
  align-items: center;
}
.headerIconLogo {
  margin-right: 15.5px;
}

.logoName {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: var(--main-text-color);
  font-weight: 700;
  font-size: var(--font-size__logo);
  line-height: 1.33;
  display: flex;
  align-items: center;
}

.userName {
  font-family: 'Circe', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size__accent);
  line-height: 1.5;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .userName {
    margin-right: 14.5px;
  }
}

.headerLogout {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.headerExit {
  font-family: 'Circe', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: var(--secondary-text-color);
  margin-left: 10px;
}

@keyframes header-show {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}
