@import '../../stylesheet/vars.css';

@media screen and (min-width: 1279px) {
  .formContainer {
    width: 56.25%;
    min-height: 720px;
    padding: 136px 85px 166px 95px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(50px);
    display: flex;
    align-items: center;
  }
}

.frameimg {
  display: none;
}

@media screen and (min-width: 768px) {
  .frameimg {
    display: inline-block;
    margin-right: 0;
    width: 260.26px;
    height: 250px;
    background-image: url('../../images/LogInPage/log_in_img_tablet.png');
    background-repeat: no-repeat;
    background-position: left top;
  }
}

@media screen and (min-width: 1280px) {
  .frameimg {
    background-image: url('../../images/LogInPage/log_in_img.png');
    background-position: top center;
    width: 419.5px;
    height: 435.2px;
    margin-bottom: 28px;
  }
}

.title {
  display: none;
}

@media screen and (min-width: 767px) {
  .title {
    display: flex;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: var(--font-size__logo);
    line-height: 45px;
    margin-left: 40px;
    align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .title {
    text-align: center;
    margin-left: auto;
    width: 187px;
  }
}
