@import '../../stylesheet/vars.css';

.logInPage {
  padding: 110px 20px;
  background-color: var(--light-bcg-color);
  height: 100vh;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .logInPage {
    background-color: #e7eaf2;
    background-image: url('../../images/LogInPage/ellipse_purple.png'),
      url('../../images/LogInPage/ellipse_pink_tablet.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right top;
    padding: 60px 114px 196px 114px;
    height: 100vh;
  }
}

@media screen and (min-width: 1280px) {
  .logInPage {
    display: flex;
    justify-content: flex-end;
    background-image: url('../../images/LogInPage/ellipse_purple.png'),
      url('../../images/LogInPage/ellipse_pink.png');
    padding: 136px 76px 0px;
  }
}

.pageHeading {
  display: none;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .pageHeading {
    display: block;
    margin-right: auto;
    font-family: var(--logo__font-family);
    font-size: 30px;
    line-height: 45px;
    margin-left: 40px;

    font-weight: 400;
  }
}

@media screen and (min-width: 1280px) {
  .pageHeading {
    text-align: center;
    margin-left: auto;
  }
}

.imgContent {
  display: none;
}

@media screen and (min-width: 768px) {
  .imgContent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .imgContent {
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
  }
}

.img {
  display: none;
}

@media screen and (min-width: 768px) {
  .img {
    display: inline-block;
    margin-right: 0;
    width: 260px;
    height: 250px;
    background-image: url('../../images/LogInPage/log_in_img_tablet.png');
    background-repeat: no-repeat;
    background-position: left top;
  }
}

@media screen and (min-width: 1280px) {
  .img {
    background-image: url('../../images/LogInPage/log_in_img.png');
    background-position: top center;
    width: 435px;
    height: 419px;
    margin-bottom: 28px;
  }
}

.logInFormUnderlay {
  display: inline-block;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .logInFormUnderlay {
    align-items: center;
    width: 540px;
    height: 468px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1280px) {
  .logInFormUnderlay {
    margin: 0px;
    z-index: 1;
  }
}

.logInPageBlur {
  display: none;
  margin: 0;
}

@media screen and (min-width: 1280px) {
  .logInPageBlur {
    display: block;
    position: fixed;
    right: 0;
    width: 56.25%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(50px);
  }
}
