.container {
  padding-top: 6px;
  align-items: center;
}
@media screen and (max-width: 479px) {
  .container {
    width: calc(280px + (350 - 280) * ((100vw - 320px) / (480 - 320)));
  }
  .item {
    line-height: calc(1.12 + (1.5 - 1.12) * ((100vw - 320px) / (480 - 320)));
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 350px;
  }
}

.titles {
  padding: 16px 20px 15px;
  background: #ffffff;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
}

.titleItem {
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
  list-style-type: none;
}
.item {
  display: flex;
  padding: 14px 20px;
  border-bottom: 1px solid #dcdcdf;
  font-size: 16px;
  line-height: 1.15;
}

.colorCategory {
  margin-right: 16px;
  width: 24px;
  height: 24px;
  border-radius: 2px;
}
.category {
}
.value {
  align-items: flex-end;
}
.expenses {
  line-height: 1.5;
  margin-left: auto;
}

.total {
  display: flex;
  padding: 14px 20px 0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
}
.totalExpenses {
  margin-left: auto;
  color: #ff6596;
}
.totalIncomes {
  margin-left: auto;
  color: #24cca7;
}
