.balance {
  width: 280px;
  height: 80px;
  border-radius: 30px;
  color: var(--main-text-color);
  background-color: var(--light-bcg-color);
}

.title {
  padding: 6px 0 0 40px;
  text-transform: uppercase;
  color: var(--balance-title-text-color);
  font-size: var(--font-size__balance_title);
  font-family: var(--main__font-family);
}

.totalBalance {
  padding: 10px 0 0 40px;
  color: var(--main-text-color);
  font-size: var(--font-size__balance_amount);
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

@media (min-width: 768px) {
  .balanceShow {
    animation: balance-show 0.5s forwards;
  }
  .balance {
    width: 334px;
  }
}

@media (min-width: 1280px) {
  .balance {
    width: 350px;
  }
}

@keyframes balance-show {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateX(0);
  }
}
